<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::title},~{::section})}">
  <head>
    <title>Admin : Add Product Page</title>
  </head>
  <body>
   <section>
    <div class="container-fluid w-75 mt-5">
      <div class="card shadow mb-5 bg-body rounded">
          <div class="card-header text-center">
              <h1>Add Product</h1>
              </div>
              <div class="cart-body m-5">
      <form th:action="@{/admin/products/add}" th:method="post" class="row g-3">
          <div class="col-md-6">
              <label for="inputEmail4" class="form-label fw-bold">Product Name</label>
              <input type="text" class="form-control" placeholder="Name" name="pName" required>
            </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label fw-bold">Brand</label>
              <input type="text" class="form-control" placeholder="Brand" name="pBrand" required>
            </div>
          <div class="col-md-6">
              <label for="inputEmail4" class="form-label fw-bold">User Type</label>
              <select id="inputState" class="form-select" name="userType">
                  <option selected>Select Target User</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Unisex">Unisex</option>
                </select>
          </div>
          <div class="col-md-6">
              <label for="inputState" class="form-label fw-bold">Category</label>
              <select id="inputState" class="form-select" name="pCategory" required>
                <option selected>Select Category</option>
                <option></option>
              </select>
          </div>
          <div class="col-md-6">
              <label for="inputEmail4" class="form-label fw-bold">Original Price</label>
              <input type="number" class="form-control" name="oPrice" placeholder="Original Price" required>
            </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label fw-bold">Discounted Price</label>
              <input type="number" class="form-control" name="dPrice" placeholder="Discounted Price" required>
            </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label fw-bold">Quantity</label>
              <input type="number" class="form-control" name="qty" placeholder="Quantity" required>
            </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label fw-bold">Select Image</label>
              <input type="file" class="form-control" name="pImage" placeholder="Product Image" required>
            </div>
            <div class="col-md-12">
              <label for="exampleFormControlTextarea1" class="form-label fw-bold">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" name="pDesc" rows="3" placeholder="Description" required></textarea>
            </div>
            
          <div class="col-md-12 mt-5 text-center">
            <button type="submit" class="btn btn-primary">Add Product</button>
          </div>
        </form>
      </div>
        </div>
  </div>
   </section>
  </body>
</html>