<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::title},~{::section})}">
  <head>
    <title>Login Page</title>
  </head>
  <body>
   <section>
 <div class="body-section m-0 p-0 d-flex">
<!-- sidebar section start -->
<div class="container-fluid border border-primary border-2 sidebar ms-0 col-sm-12">
  <div class="container">
    <ul class="list-group rounded-0">
      <li class="list-group-item active" aria-current="true"><a href="#">All Products</a></li>
      <li class="list-group-item"><a class="text-primary" href="#">Top Brand Products</a></li>
      <li class="list-group-item"><a class="text-primary" href="#">Most Selling Products</a></li>
      <li class="list-group-item"><a class="text-primary" href="#">Trending Products</a></li>
      <li class="list-group-item"><a class="text-primary" href="#">Hot Offers</a></li>
    </ul>
  </div>
</div>
<!-- sidebar section end -->

<div class="container-fluid d-flex flex-wrap p-2">
  <div class="product-card pb-5 shadow-lg p-3 mb-5 bg-body rounded card m-2 p-2">
    <img th:src="@{/img/product_images/product3.jpg}" alt="" id="product-img">
    <h6 class="pt-2 brand-name">Perfume Musk</h6>
    <p class="description">Lorem ipsum dolor sit amet consec</p>
    <h5 class="price">Price : $ 500</h5>
    <a href="" class="card-btn">Add to Cart</a>
  </div>    
  <div class="product-card shadow-lg p-3 mb-5 bg-body rounded card m-2 p-2">
    <img th:src="@{/img/product_images/product3.jpg}" alt="" id="product-img">
    <h6 class="pt-2 brand-name">Perfume Musk</h6>
    <p class="description">Lorem ipsum dolor sit amet consec</p>
    <h5 class="price">Price : $ 500</h5>
    <a href="" class="card-btn">Add to Cart</a>
  </div>     
  <div class="product-card shadow-lg p-3 mb-5 bg-body rounded card m-2 p-2">
    <img th:src="@{/img/product_images/product3.jpg}" alt="" id="product-img">
    <h6 class="pt-2 brand-name">Perfume Musk</h6>
    <p class="description">Lorem ipsum dolor sit amet consec</p>
    <h5 class="price">Price : $ 500</h5>
    <a href="" class="card-btn">Add to Cart</a>
  </div>    
  <div class="product-card shadow-lg p-3 mb-5 bg-body rounded card m-2 p-2">
    <img th:src="@{/img/product_images/product3.jpg}" alt="" id="product-img">
    <h6 class="pt-2 brand-name">Perfume Musk</h6>
    <p class="description">Lorem ipsum dolor sit amet consec</p>
    <h5 class="price">Price : $ 500</h5>
    <a href="" class="card-btn">Add to Cart</a>
  </div>     
  <div class="product-card shadow-lg p-3 mb-5 bg-body rounded card m-2 p-2">
    <img th:src="@{/img/product_images/product3.jpg}" alt="" id="product-img">
    <h6 class="pt-2 brand-name">Perfume Musk</h6>
    <p class="description">Lorem ipsum dolor sit amet consec</p>
    <h5 class="price">Price : $ 500</h5>
    <a href="" class="card-btn">Add to Cart</a>
  </div>    
  <div class="product-card shadow-lg p-3 mb-5 bg-body rounded card m-2 p-2">
    <img th:src="@{/img/product_images/product3.jpg}" alt="" id="product-img">
    <h6 class="pt-2 brand-name">Perfume Musk</h6>
    <p class="description">Lorem ipsum dolor sit amet consec</p>
    <h5 class="price">Price : $ 500</h5>
    <a href="" class="card-btn">Add to Cart</a>
  </div>     
  <div class="product-card shadow-lg p-3 mb-5 bg-body rounded card m-2 p-2">
    <img th:src="@{/img/product_images/product3.jpg}" alt="" id="product-img">
    <h6 class="pt-2 brand-name">Perfume Musk</h6>
    <p class="description">Lorem ipsum dolor sit amet consec</p>
    <h5 class="price">Price : $ 500</h5>
    <a href="" class="card-btn">Add to Cart</a>
  </div>    
  <div class="product-card shadow-lg p-3 mb-5 bg-body rounded card m-2 p-2">
    <img th:src="@{/img/product_images/product3.jpg}" alt="" id="product-img">
    <h6 class="pt-2 brand-name">Perfume Musk</h6>
    <p class="description">Lorem ipsum dolor sit amet consec</p>
    <h5 class="price">Price : $ 500</h5>
    <a href="" class="card-btn">Add to Cart</a>
  </div>     
  <div class="product-card shadow-lg p-3 mb-5 bg-body rounded card m-2 p-2">
    <img th:src="@{/img/product_images/product3.jpg}" alt="" id="product-img">
    <h6 class="pt-2 brand-name">Perfume Musk</h6>
    <p class="description">Lorem ipsum dolor sit amet consec</p>
    <h5 class="price">Price : $ 500</h5>
    <a href="" class="card-btn">Add to Cart</a>
  </div>    
  <div class="product-card shadow-lg p-3 mb-5 bg-body rounded card m-2 p-2">
    <img th:src="@{/img/product_images/product3.jpg}" alt="" id="product-img">
    <h6 class="pt-2 brand-name">Perfume Musk</h6>
    <p class="description">Lorem ipsum dolor sit amet consec</p>
    <h5 class="price">Price : $ 500</h5>
    <a href="" class="card-btn">Add to Cart</a>
  </div>     
  
  <div class="pagination-section w-100 my-5">
    <ul class="d-flex justify-content-center align-items-center mb-0">
      <li class="pagination-no m-2 fs-4"><a class="text-primary" href="#">1</a></li>
      <li class="pagination-no m-2 fs-4"><a class="text-primary" href="#">2</a></li>
      <li class="pagination-no m-2 fs-4"><a class="text-primary" href="#">3</a></li>
      <li class="pagination-no m-2 fs-4"><a class="text-primary" href="#">4</a></li>
      <li class="pagination-no m-2 fs-4"><a class="text-primary" href="#">5</a></li>
    </ul>
  </div>
</div>

 </div>
   </section>
  </body>
</html>